
* {
    font-family: Courier, Courier, monospace;
    margin: 0px;
}


body {
    background-color: pink;
    /*background-image: url('assets/frclogo.jpg');
    background-attachment: fixed;
    */
}

header{
    margin-top: 32px;
}
.nav-bar {
    background: #FFD700;
    margin: 0 auto;
    width: 66%;
    font-size: 96px;
    padding: 32px;
    padding-bottom: 64;
    font-weight: bold;

}
.nav-bar-options {
    font-size: 48px;
    text-align: center;
    color: white;
}


.nav-bar-options span {
    padding-right: 16;
    padding-left: 16;
}
.title {
    text-align: center;
}

.main-content{
    margin: 0 auto;
    width: 66%;
    margin-top: 32px;
    background-color: white;
    align-self: center;
    padding: 32px;
    min-height: calc(100vh - 421px);
 
}
.main-content h1 {
    text-align: center;
    padding: 0px;
    padding-bottom:  32px;
}

footer {
    margin: 0 auto;
    width: 66%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    text-align: center;
    background: #FFD700;
    max-height: 80px;
    
}

a {text-decoration: none;}
a.nav-bar-options-inactive:link {color: white}
a.nav-bar-options-inactive:visited  {color: white}
a.nav-bar-options-inactive:hover {color: blue;}
a.nav-bar-options-active {color: blue;}
a.title:visited {color: blue}
